/*@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');*/

* {
    /*-fx-font-family: 'VT323', monospace;*/
    -fx-font-size: 2em;
}

.main {
    -fx-background-image: url("img/background.jpg");
    -fx-background-size: 100% 100%;
}

.button-primary {
    -fx-text-fill: #2be4ea;
    -fx-background-color: #711c91;
    -fx-background-radius:0;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

.button-secondary {
    -fx-text-fill: #2be4ea;
    -fx-background-color: #4C9A2A;
    -fx-background-radius:0;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

.button-danger {
    -fx-text-fill: #2be4ea;
    -fx-background-color: #8b0000;
    -fx-background-radius:0;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

.button-primary:hover {
    -fx-text-fill: #2be4ea;
    -fx-background-color: #ea00d9;
}

.button-secondary:hover {
    -fx-text-fill: #2be4ea;
    -fx-background-color: #8acc26;
}

.button-danger:hover {
    -fx-text-fill: #2be4ea;
    -fx-background-color: red;
}

.font-primary, .font-secondary, .font-danger {
    -fx-font-size: 4em;
}

.font-primary {
    -fx-text-fill: #2be4ea;
    -fx-font-style: italic;
}

.font-secondary {
    -fx-text-fill: #4C9A2A;
    -fx-font-weight: bold;
}

.font-danger {
    -fx-text-fill: #2be4ea;
    -fx-font-weight: bold;
}